// Copyright 2024, Command Line Inc.
// SPDX-License-Identifier: Apache-2.0

.workspace-switcher-button {
    display: flex;
    height: 26px;
    padding: 0px 12px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    margin-right: 6px;
    box-sizing: border-box;
    background-color: rgb(from var(--main-text-color) r g b / 0.1) !important;

    &:hover {
        background-color: rgb(from var(--main-text-color) r g b / 0.14) !important;
    }

    .workspace-icon {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
